/* Estilos De La Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2d4e78;
    padding: 20px 80px;
    position: fixed;
    top: 0; 
    width: 100%; 
    z-index: 1000;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a:hover {
    color: rgb(60, 177, 216);
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Estilos para dispositivos móviles */

#menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

#menu-toggle span {
    background-color: #fff;
    height: 3px;
    margin: 5px;
    width: 25px;
}

/* Adaptación para dispositivos de menos de 768px */

@media (max-width: 768px) {
    nav {
        padding: 20px 40px;
    }

    #navbar {
        position: absolute;
        top: 78px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #1b2430;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s ease-in-out;
    }

    #navbar li {
        padding: 15px 0;
    }

    /* Mostrar carrito en el menú desplegable */

    #navbar .cart-icon {
        display: block; 
    }

    .fa-shopping-cart {
        font-size: 20px;
        margin-right: 20px;
    }

    #menu-toggle {
        display: flex;
    }

    #navbar.active {
        left: 0;
    }


    .cart-icon {
        display: none;
    }
}


body {
    margin-top: 78px; 
}

.cart-icon {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.cart-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ffe115;
    color: #2d3a4b;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-shopping-cart {
    font-size: 22px;
    color: #ffe115;  /* Color del carrito */

}
